<div class="instructions">
    <h3>O que deve ser feito:</h3>
    <p>
        <b>
            O foco desse teste de aplicação é ver como você se comporta utilizando esse framework, produzindo layouts simples e consumindo dados de uma API, a API estará pronta, 
            basta seguir as orientações do projeto.
        </b>
    </p>
    <p>
        <b>
            Nesse teste você deverá criar um layout para a rota <span class="text-blue">/products</span>, pode utilizar o bootstrap ou um layout gratuito, pode importar o css de CDN caso deseje (o foco não é a criação do layout, não precisa perder tempo com isso. O foco é a manipulação de um layout com o framework).
        </b>
    </p>
    <p>
        <b>
            Após a definição do layout, manipule a API com as seguintes tarefas:
            <ul>
                <li>
                    Listar os dados dos produtos da API e apresentar essa listagem em tela.
                </li>
                <li>
                    Criar uma maneira do usuário cadastrar um novo produto junto a API.
                </li>
                <li>
                    Ao final, crie um projeto em seu github com as funcionalidades realizadas e nos encaminhe o link.
                </li>
            </ul>
        </b>
    </p>

    <p>
        Foi disponibilizado um botão o qual realiza uma requisição GET para a API, pode-se utilizar do mesmo ou criar de outras formas. 
    </p>

    <p>
        O foco é verificar como você vai utilizar o framework alinhado aos fundomentos de Javascript para realizar a consulta e o cadastro de um produto.   
    </p>
</div>

<div class="begin-link">
    Abaixo é a página inicial do Ember Framework para leitura e aprofundamento, para <LinkTo @route="products" > seguir á rota do teste clique aqui!</LinkTo>
</div>


<WelcomePage />