
<div style="background-color: red; weight: 200px; height: 200px"></div>

<button type="button" value="getListProducts()">getListProducts()</button>

<div class="jumbotron text-center" >
 
 {{#each data as |item|}}
    {{item.name}}
 {{/each}}

</div>

{{outlet}}